<div class="text-center">  
<html>
<head>
<style>
  h1 {color:black;}
</style>
</head>
<body>

<h1>MENU</h1>

</body>
</html>
<body style="background-color:powderblue;">
<% if session[:type] %>
                <%=link_to 'Profile', '/profile', class:"btn btn-warning"  %>
                <br>
                <br>
<% end %>
<% if session[:type]==0 || session[:type]==1 %>
                <%=link_to 'My Market', '/my_market', class:"btn btn-warning"  %>
                <br>
                <br>
<% end %>
<% if session[:type]==0 || session[:type]==2 %>
                <%=link_to 'My Inventory', '/my_inventory', class:"btn btn-warning"  %>
                <br>
                <br>
<% end %>
<% if session[:type]==0 || session[:type]==1 %>
                <%=link_to 'Purchase History', '/purchase_history', class:"btn btn-warning"  %>
                <br>
                <br>
<% end %>
<% if session[:type]==0 || session[:type]==2 %>
                <%=link_to 'Sale History', '/sale_history', class:"btn btn-warning"  %>
                <br>
                <br>
<% end %>

<% if session[:type]==0 || session[:type]==2 %>
                <%=link_to 'Top seller', '/top_seller_filter', class:"btn btn-warning"  %>
                <br>
                <br>
<% end %>
<% if session[:type]==0  %>
                <%=link_to 'Edit Users', '/users', class:"btn btn-warning"  %>
                <br>
                <br>
<% end %>
<% if session[:type]==0  %>
                <%=link_to 'Edit Items', '/items', class:"btn btn-warning"  %>
                <br>
                <br>
<% end %>
<%=link_to 'LOG OUT', '/login', class:"btn btn-danger"  %>
</body>
</div>  