

<table id="my_market" class="display" style="width:100%">
<thead>
    <th>Item</th>
    <th>Category</th>
    <th>price</th>
    <th>stock</th>
    <th></th>
</thead>
<tbody>
    <% Market.all.each do |m| %>
        <% @i = Item.where(id:m.item_id).first %>
        <tr>
            <td><%= @i.name %></td>
            <td><%= @i.category %></td>
            <td><%= m.price %></td>
            <td><%= m.stock %></td>
            <td><%= link_to 'Buy', '/main/buy_qty?mid='+m.id.to_s  %></td>
        </tr>
    <%end%>
</tbody>
</table>

<script>
$(document).ready(function () {
            $('#my_market').DataTable({
                "columnDefs": [
                    { "targets": [0,2,3,4], "searchable": false },
                ],
                "language": {
                    "search": "Category:"
                }
            })
        });
</script>


<form method="get" action="/main" class="button_to">
    <div><input value="Back" type="submit" /></div>
</form>

