<h1>My Market</h1>
<% if params[:buyzero] %>
    <div class="alert alert-danger" role="alert">
        The stock is not enough!
    </div>
<% elsif params[:buysuccess] %>
    <div class="alert alert-success" role="alert">
        Purchase success!
    </div>
<%end%>

<table id="my_market" class="table table-dark table-hover" style="width:100%">
<thead>
    <th>Item</th>
    <th>Category</th>
    <th>Picture</th>
    <th>Price</th>
    <th>Stock</th>
    <th></th>
</thead>
<tbody>
    <% Market.all.each do |m| %>
        <% @i = Item.where(id:m.item_id).first %>
        <tr>
            <td><%= @i.name %></td>
            <td><%= @i.category %></td>
            <% if(@i.picture.attached?) %>
                <td><%= image_tag @i.picture.variant(:thumb100) %></td>
            <% else %>
                <td>This item does not have a picture</td>
            <% end %>
            <td><%= m.price %></td>
            <td><%= m.stock %></td>
            <td><%= link_to 'Buy', '/main/buy_qty?mid='+m.id.to_s, class:"btn btn-primary"  %></td>
        </tr>
    <%end%>
</tbody>
</table>

<script>
$(document).ready(function () {
            $('#my_market').DataTable({
                "columnDefs": [
                    { "targets": [0,2,3,4], "searchable": false },
                ],
                "language": {
                    "search": "Category:"
                }
            })
        });
</script>


<%=link_to 'BACK', '/main', class:"btn btn-dark" %>

