<body style="background-color:powderblue;">
<div class="text-center">             
<h1>My Profile</h1>
<h3 class="text-primary">Name : <%= @name %> </h3>
<br>
<h3 class="text-primary">Email : <%= @email %></h3>
<br>
<h3 class="text-primary">User type : <%= @type %></h3>
<br>
<%= form_with url: "/main/change_password", method: :post do |form| %>
    <%= form.label :old_password ,"Old password : " %>
    <%= form.password_field :old_password, :required => true %>
    <br>
    <br>
    <%= form.label :new_password ,"New password : " %>
    <%= form.password_field :new_password %>
    <br>
    <br>
    <%= form.submit "Confirm changing password", class:"btn btn-success" %>
<% end %>
</div>
<br>

<%=link_to 'BACK', '/main', class:"btn btn-dark", style:"float: right;" %>
</body>
    
    
    


