<h1>Sales History</h1>
<style>
table, th, td{
    border:1px solid black;
}
</style>
<table class="table table-dark table-hover">
    <th>Buyer</th>
    <th>Item</th>
    <th>Picture</th>
    <th>price</th>
    <th>stock</th>
    <th>Time</th>
    <% @inventory.all.each do |inv| %>
        <% @i = Item.where(id:inv.item_id).first %>
        <tr>
            <td><%= inv.buyer.name %></td>
            <td><%= @i.name %></td>
            <% if(@i.picture.attached?) %>
                <td><%= image_tag @i.picture.variant(:thumb100) %></td>
            <% else %>
                <td>This item does not have a picture</td>
            <% end %>
            <td><%= inv.price %></td>
            <td><%= inv.qty %></td>
            <td><%= inv.created_at  %></td>
        </tr>
    <%end%>
</table>


<%=link_to 'BACK', '/main', class:"btn btn-dark" %>